.mainpage{
    width: 100%;
    height: 100%;
    //background:blueviolet;
    padding-right: 50px;
   
    background-color: #eef1f1;
    
    
  }
  
  
  
  
  @media screen and (max-width:1210px){
    .mainpage{
      width: 80%;
      padding: 0;
      margin-bottom: auto;
     
    }
  }
  
  
  
  
  
  
  
  
  
  