.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  background-color: #eef1f1;
  overflow: scroll;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
}
